<section>
	<h2><%= @room.name %></h2>
	<div class="address">
		<p><%= @room.address %></p>
	</div>
	<div class="image">
	</div>
	<div class="map" data-lat="<%=@room.latitude%>" data-lng="<%=@room.longitude%>">
		<%# Geocoder adds automatically %>
	</div>
	<p><span class='fieldlabel'>Room rate:</span>
		<span class="fieldValue"><%= number_to_currency @room.price_in_pence %></span>
	</p>
	<div class="description"><%= simple_format @room.description %></div>

	<p>Ask <%= mail_to @room.user.email, @room.user.name %> about this room</p>
	<div class="actions">
		<% if current_user? %>
			<% if current_user.id == @room.user.id %>
				<p><%= link_to "Edit", edit_user_room_path(current_user, @room) %></p>
				<p><%= link_to "Delete", room_path(@room), method: :delete, data: { confirm: 'Are you sure?' } %></p>
			<% else %>
				<p><%= link_to "Book this room", new_room_order_path(@room) %></p>
			<% end %>
		<% else %>
			<p> <%= link_to "Sign up to book this room", new_user_path, class: :button %> </p
		<% end %>
	</div>
</section>
